* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(90deg, #ffffff 21px, transparent 1%) center,
    linear-gradient(#ffffff 21px, transparent 1%) center, #000000;
  background-size: 22px 22px;
}
